.loading {
  background: rgb(255, 153, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5000;

  &.done {
    display: none;
  }
}

.row,
.from-row {
  margin-left: 0;
  margin-right: 0;
}
